.layout_home{
    display: grid;
    row-gap: 10px;
}

#home{
    height: 5vh;
    display: flex ;
    flex-direction: row ;
    justify-content: start ;
    align-items: center ;
}
.testo-home{
    font-size: 1.5em;
    color: white ;
    border-radius: 5px ;
    display: inline;
}
#icona{
    position: relative;
    top:-2px;
    color: white;
}
.home:hover .testo-home{
    text-decoration:underline ;
}
.home{
    text-decoration: none;
    border-radius: 5px ;
    background-color: gray;
    padding:10px;
    display: inline-block;
}

#titolo{
    height: 8vh;
    display: flex ;
    flex-direction: row ;
    justify-content: center ;
    align-items: center ;
    background-color: #993d00;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
#barra_di_navigazione{
    font-size: 4em;
    margin: 0;
}

#testo{
    margin-top: 0;
    font-weight: 100;
    font-size: 20px;
}

.titolo_esempio{
    height: 45px;
    background-color:#c46c00;
    display: flex ;
    flex-direction: row ;
    justify-content: center ;
    align-items: center ;
}

#contenuto{
    height: 10vh;
    flex-shrink: 1;
    min-height: 47px;
}

#html_css{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.titolo_html_css{
    height: 45px;
    display: flex ;
    flex-direction: row ;
    justify-content: center ;
    align-items: center ;
    background-color:#e49800;
}
.margin_titolo_html_css{
    margin: 0;
}
.lato_html{
    margin-right: 10px;
}
.lato_css{
    margin-left: 10px;
}

#codice_html1{
    display: flex ;
    flex-direction: row ;
    justify-content: left ;
    align-items: start ;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
}
#codice_css1{
    margin-top: 10px;
    margin-left: 15px;
}

.navbar{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px;
}
.navbar a:hover{
    background-color:lightgray;
}
.navbar li{
    float: left;
    width: 25%;
}

@media screen and (max-width: 900px) {
    #titolo{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #barra_di_navigazione{
        font-size: 3.5em;
        margin: 0;
    }
    .margin_titolo_html_css{
        font-size: 1.7em;
    }
    #html_css{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .lato_html {
        width: 100%;
        order: 1;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .lato_css {
        width: 100%;
        order: 2;
        margin-left: 0;
    }

}
@media screen and (max-width: 587px) {
    #titolo{
        padding: 0px;
    }
    #barra_di_navigazione{
        font-size: 3em;
        margin: 0;
    }
    .margin_titolo_html_css{
        font-size: 1.5em;
    }
    #html_css{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .lato_html {
        width: 100%;
        order: 1;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .lato_css {
        width: 100%;
        order: 2;
        margin-left: 0;
    }

}
