h4{
    font-size: 2em;;
    background-color: chocolate;
    text-align: center;
}

/* shadow */
.html{
    width:40%;
    height:60vh;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 10px;
}
.html_1{
    width:60%;
    height:60vh;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 10px;
}
.css{
    float: left;
    text-align: left;
}

#shadow{
    text-shadow: 3px 3px 5px rgb(255, 59, 59), -3px -3px 5px rgb(58, 58, 255);
}
#box1{
    width:100px;
    height:100px;
    background-color: rgb(165, 165, 165);
    box-shadow: 3px 3px 5px
}